
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tbody>
        <tr>
            <td>
                <ul>
                    <li>@Html.ActionLink("Forms", "Index", new { v = "Forms" })</li>
                    <li>@Html.ActionLink("Client validation", "Index", new { v = "ClientValidation" })</li>
                    <li>@Html.ActionLink("Bootstrap", "Index", new { v = "Bootstrap" })</li>
                    <li>@Html.ActionLink("ProductList", "Index", "Product")</li>
                    <li>@Html.ActionLink("EmployeeList", "Index", "Employee")</li>
                </ul>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

